.slides {
    overflow: hidden;
    display: block;
    position: relative;
}

.slides.is-first .slides__button--previous {
    display: none;
}

.slides.is-last .slides__button--next {
    display: none;
}

.slides .slides__list {
    transition: transform 0.4s ease;
    -webkit-transition: -webkit-transform 0.4s ease;
}

.slides .slides__list.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.slides .slides__list::after {
    content: '';
    display: block;
    clear: left;
}

.slides .slides__slide {
    display: block;
    float: left;
}

.slides .slides__button--previous,
.slides .slides__button--next {
    position: absolute;
    z-index: 100;
    top: 50%;
}

.slides .slides__button--previous {
    left: 5px;
}

.slides .slides__button--next {
    right: 5px;
}
